body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #222;
}

.story {
  padding: 0 1em;
  margin: 1em 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #32a2a8;
  }
  
.container {
  width: 100%;
  height: 10px;
  background: #cccccc;
}

.progress-bar {
  height: 10px;
  background: #005357;
  width: 0%;
}

.main {
  text-align: center;
  background-color: antiquewhite;
}


.containertitle {
  background-color: #F8876F;
  text-align: center;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #A8E0E9;
}
 
.grid-container1 {
  text-align: left;
  background-color: #F8876F;
  padding: 50px;
  margin: 20px;
}

.grid-container2  {
  text-align: left;
  background-color: #A8E0E9;
  padding: 50px;
  margin: 20px;
}


  
  .img { 
  float: left;
  width: 150px;
  height: 150px;
  padding: 10px;
  left: 2px;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    list-style: none;
    display: block;
  }

  .footer li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }

  .footer a:hover {
    background-color: #A8E0E9;
  }

  .footer ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .footer a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }