
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #32a2a8;
    }

.container {
    width: 100%;
    height: 10px;
    background: #cccccc;
}

.progress-bar {
 height: 10px;
background: #1C1C84;
 width: 0%;
 }


.text {
    padding: 100px 0;
}

.countdown {
	background: white;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 12.5em 0 0;
    margin: 0 auto;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
    height: 100%;
  }
  
  
.container1 {
	min-height: 20px;
}

.nav {
	background: white;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

a {
	color: #212121;
	font-weight: 600;
	display: block;
	padding: 1.6rem 1rem;
	margin-right: 1.6rem;
	text-decoration: none;
}		

.active {
	color: #1565C0;
}

.full-viewport {
    height: 100%;
	background-color: lavender;
	display: grid;
    place-content: center;
}

  
  p {
      padding: 20px;
  }
  
.circular--square {
    border-radius: 50%;
    margin:20px;
  }
  
.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

 h1 {
    background-color: #1C1C84;
    margin: 0;
    text-align: center;
    margin-bottom: 2.5em;
    border: 10px;
    padding: 10px;
    opacity: 70%;
    color: white;
  }

h2 {
    background-color: #1C1C84;
    opacity: 70%;
    margin: 0;
    text-align: center;
    margin-bottom: 2.5em;
    border: 10px;
    padding: 10px;
    opacity: 70%;
    color: white;
  }

h3 {
    background-color: #1C1C84;
    margin: 0;
    text-align: center;
    margin-bottom: 2.5em;
    border: 10px;
    padding: 10px;
    opacity: 70%;
    color: white;
  }

article p {
	text-align: justify;
	line-height: 1.5;
	font-size: 1.1em;
}


.full-viewport h2.show {
	opacity: 1;
}

#infinite-list {
    height: 400px;
    overflow-y: scroll;
    background-color: #1C1C84;
    opacity: 70%;
    place-content: center;
    text-align: center;
    color: white;
  }

  li {
    padding: 20px;
    list-style-type: none;
  }

  li:hover {
    background: black;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text{
    font-family: Impact, Charcoal, sans-serif;
  }

  .numbertext {
    font-family: Impact, Charcoal, sans-serif;
  }
 

  h5 {
    margin-left: auto;
    text-align: center;
    font-weight: 100;
    font-size: 2.8em;
    color: black;
  }
  
  .formStyle { 
    background-color: white;
    padding: 20px; 
    width: 400px;
    left: 100px;
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: black;
  }
  
  .formButton {
    float: right;
    background-color:black;
    color:white;
    font-size:24px;
    font-weight: 200;
    padding:6px 50px;
    margin-top: 1px;
    margin-right: 175px;
    text-decoration:none;
  }
  
  .formButton:hover {
    background-color: grey;
    color:#ffffff;
  }
  
  .formButton:active {
      position:relative;
      top:3px;
  }